<m-container>
    <br><br>
    <h1>Find Your Nearest Doctor !!</h1>
    <br>
    <m-search-button (search)="filterTerm = $event"></m-search-button>
    <m-table
      [data]="list"
      [filterTerm]="filterTerm"
      [tableHeaders]="headers"
      [showDeleteButton]="false"
      [showMoreDetails]="true"
      [showCaption]="true"
      caption="Available Locations"
      (navigate)="navigateDoctor()"
    ></m-table>
  
    <br><br>
  
    <m-map
      [zoomLevel]="10"
      [lat]="lat"
      [lng]="lng"
      (mapInstance)="getMapInstance($event)"
    >
    </m-map>
    <br>
    <button class="pure-button" (click)="goToRating()">Done</button>
    <button class="pure-button" (click)="showClosestMarker()">Show Closest Location</button> <!-- Button to show closest marker -->
    <button class="pure-button" (click)="showNearestMarkers()">Show Nearest Locations</button> <!-- Button to show nearest markers -->
  </m-container>
  