<m-container>
  <br><br>
  <h2 *ngIf="hospitalName">Available Doctors Details for {{ hospitalName }}</h2>

  <ng-container *ngIf="hospitalName">
    <!-- Render filtered doctors dynamically -->
    <m-card *ngFor="let doctor of filteredDoctors; let i = index"
      [header]="doctor.header"
      [subheader]="doctor.subheader"
      [imageurl]="doctor.imageurl"
    >
      <p>Esstimated Distance: {{doctor.distance}}</p>
      <p>{{ doctor.availability }}</p>
      <p *ngIf="showMore[i]">{{ doctor.description }}</p>

      <!-- Feedback section -->
      <div *ngIf="showMore[i]">
        <h4>Feedbacks:</h4>
        <ul>
          <li *ngFor="let feedback of doctor.feedback">{{ feedback }}</li>
        </ul>

        <!-- Feedback submission form -->
        <form class="pure-form pure-form-stacked" (ngSubmit)="addFeedback(i)">
          <textarea [(ngModel)]="feedbackText[i]" name="feedback" rows="3" placeholder="Write your feedback here..." required></textarea>
          <button class="pure-button" type="submit">Submit Feedback</button>
        </form>
      </div>

      <button class="pure-button" (click)="toggleDetails(i)">
        {{ showMore[i] ? 'Show Less' : 'Show More' }}
      </button>
    </m-card>
  </ng-container>

  <!-- Message to display if no hospital is selected -->
  <p *ngIf="!hospitalName">No hospital selected.</p>
</m-container>
