<m-container>
    <br>
    <br>
 
    <h1> Appointment Details</h1>
 
    <m-card  
      [header]="'Dr. Abdullah Khalid'"
      [subheader]="'Ahalia Hospital Mussafah'"
      [imageurl]="'https://www.felixhospital.com/sites/default/files/2022-11/dr-rahul-arora.jpg'"
    >
      <p>Available Timings: 9:00 AM - 5:00 PM</p>
   
      <p>Dr. Abdullah Khalid is a renowned cardiologist with over 15 years of experience in treating heart diseases.</p>
    </m-card>
 
    <m-card  
      [header]="'Dr. Farah Ahmad'"
      [subheader]="'Burjeel Medical City'"
      [imageurl]="'https://www.felixhospital.com/sites/default/files/2022-11/dt-pooja-yadav.jpg'"
    >
      <p><strong>Available Timings:</strong> 10:00 AM - 6:00 PM</p>
      <p>Dr. Farah Ahmad is a skilled pediatrician known for her compassionate care and expertise in child health.</p>
    </m-card>
 
    <m-card  
      [header]="'Dr. Salma Mohammed'"
      [subheader]="'Mediclinic'"
      [imageurl]="'https://ichef.bbci.co.uk/images/ic/1200x675/p0fjygqq.jpg'"
    >
      <p>Available Timings: 8:00 AM - 4:00 PM</p>
      <p>Dr. Salma Mohammed is an experienced dermatologist specializing in skin care and cosmetic treatments.</p>
    </m-card>
 
    <m-card  
      [header]="'Dr. Ali Fahed'"
      [subheader]="'Sheikh Shakhbout Medical City'"
      [imageurl]="'https://www.felixhospital.com/sites/default/files/2022-11/dr-dk-gupta.jpg'"
    >
      <p>Available Timings: 11:00 AM - 7:00 PM</p>
      <p>Dr. Ali Fahed is a leading orthopedic surgeon with a focus on minimally invasive surgical techniques.</p>
    </m-card>
 
</m-container>