<m-container>
    <br><br>
    <m-card>
        <img
        src="https://www.freeiconspng.com/thumbs/doctor-logo/doctors-transparent-icon-10.png"
        width="10%"
    >
        <h1>Find Your Nearest Doctor</h1>
        <p>
            Finding the right healthcare at the right time is crucial, and our app is designed to make that easier for you. Whether you're looking for the nearest hospital, searching for a specialist, or planning your next appointment, we've got you covered
        </p>
        <h2>Our Features:</h2>
        <ul>
            <li><h3>Find Nearest Doctors:</h3> <p> Easily locate doctors and healthcare providers close to you. Our interactive map helps you find the best options within your area. </p></li>
            <li><h3>Hospital Navigation:</h3> <p> Get step-by-step directions to the closest hospitals, ensuring you reach your destination without hassle. </p></li>
            <li><h3>Appointment Management:</h3> <p> Keep track of your appointments, doctor details, and visit history all in one place. </p></li>
            <li><h3>Real-time Updates:</h3> <p> Stay informed with the latest information on availability, estimated arrival times, and more, right at your fingertips. </p></li>
        </ul>
        <h2>Why Choose Us?</h2>
        <p>Our app is more than just a directory. It’s a complete healthcare assistant that combines the latest technology with user-friendly design to provide you with the best possible care experience. We prioritize your health, convenience, and peace of mind.</p>
    </m-card>

    <button class="pure-button" (click)="YourDoctor()"> Find Your Nearest Doctor </button>
</m-container>
