<!--This is a container component part of the M
Framework -->
<m-container>
    <!--The <br> component used for line breaks - Singleton-->
    <br><br>
    <!--the h1 to h6 components are used for headings-->
    <h1> 
        Hello World 
    </h1>
    <h2>
        Another Title
    </h2>
    <!-- the paragraph <p> component is used for text-->
    <p> 
        This is a test paragraph to see how 
        they look like.
    </p>
    <!--The ordered list <ol> and unordered list <ul>-->
    <ol>
        <!--Items are inside <li>-->
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <ul>
        <li>Item 1: to visit Google click  

            <a href="http://www.google.com">
                here
            </a>

        </li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <!-- img component for adding an image - singleton -->
    <!-- for width it can be in px or in % (responsive)-->
    <img 
        src="https://brew.sh/assets/img/homebrew.svg"
        width="50%"
    >

    <table class="pure-table">
        <thead>
            <th>Name</th>
            <th>Gender</th>
        </thead>
        <tr>
            <td>Moha</td>
            <td>Male</td>
        </tr>
    </table>

    <button 
        class="button-success pure-button"
        (click)="doButton1Action()"
    >
        Navigate
    </button>


    <button 
        class="button-success pure-button"
        (click)="doButton2Action()"
    >
        Calculate
    </button>

    <form class="pure-form pure-form-stacked">

        <label for="name"> Name </label>
        <input
            id="name"
            type="text"
            [(ngModel)]="name"
            [ngModelOptions]="{standalone: true}"
        >

        <label for="number"> Number </label>
        <input
            id="number"
            type="number"
            min="0"
            max="23"
            step="2"
            [(ngModel)]="num"
            [ngModelOptions]="{standalone: true}"
        >
    </form>
    <p>
        The Square of {{num}} is {{squareNum()}}
    </p>
    <p>
        {{result}}
    </p>
</m-container>
