<m-container>
    <br><br>
     <!--
     <m-card 
        *ngFor="let car of listofcars" 
        [header]="car.make" 
        [subheader]="car.model">
            {{car.year}}       
     </m-card>
     -->
     <m-search-button (search)="filterTerm = $event"></m-search-button>
     <m-table
        [data]="listofcars"
        [filterTerm]="filterTerm"
        [tableHeaders]="headers"
        [showDeleteButton]="true"
        [showMoreDetails]="true"
        [showCaption]="true"
        caption="Cars Available for Purchase"
     ></m-table>
</m-container>
